html {
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

/* Main heading */
h1 {
  font-size: 70px;
  color: white;
  background-image: url('../images/the-flatiron-building.png');
}

/* Page navigation links */
.links {
  font-size: 18px;
  color: white;
  font-weight: normal;
}

/* Process heading */
h2 {
  font-size: 32px;
}

/* Process sub-headings */
h3 {
  font-size: 23px;
}

/* Process content */
p {
  font-size: 14px;
  font-weight: normal;
}

h1.divider {
  font-size: 23px;
}
