html {
  font-family: helvetica;
  text-align: center;
  font-weight: bold;
}

/* Main heading */
h1 {
  font-size: 70px;
  color: white;
}

/* Page navigation links */
.links {
  font-size: 18px;
  color: white;
  font-weight: normal;
}
